<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>sign up</title>
    </head>
    <body class="body">
        <h1>Sign Up</h1>
        <form action="/signUp" method="post">
            <input name="email" type="email" placeholder="Enter email">
            <input name="password" type="password" placeholder="Enter password">
            <input name="username" type="text" placeholder="Enter username">
            <input name="button" type="submit">
        </form>
        <a href="/signIn">already have an account?</a>
    </body>
</html>