<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Display</title>
        <script src="https://cdn.jsdelivr.net/npm/firebase@8.2.1/firebase-app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/firebase@8.2.1/firebase-database.js"></script>
    </head>
    <body class="body">
        <h1 id="header">THE MBSE - The Matan Botner Stock Exchange</h1>
        <h2 id="balance"></h2>
        <h2 id="liquidity"></h2>
        <a href="/stock/grapple">grapple<br></a>
        <a href="/stock/boogle">boogle</a>
        <script>
            var uid = '{{ uid }}';
            

            // Initialize Firebase
            var firebaseConfig = {
                apiKey: "AIzaSyCcR5GJdFK0ReMLbbP_R9NUwhs_bGY8i4A",
                authDomain: "database-project-ed4f6.firebaseapp.com",
                projectId: "database-project-ed4f6",
                storageBucket: "database-project-ed4f6.appspot.com",
                messagingSenderId: "1033675079496",
                appId: "1:1033675079496:web:413ceac2a5e5b5951d3d7d",
                databaseURL:"https://database-project-ed4f6-default-rtdb.europe-west1.firebasedatabase.app/"
            };
            firebase.initializeApp(firebaseConfig);
            var db = firebase.database();
            var balanceRef = db.ref('users/' + uid + '/balance/balance');
            var liquidityRef = db.ref('users/' + uid + '/liquidity');

            // Listen for changes to the balance and liquidity
            balanceRef.on('value', function(data) {
                var balance = data.val();
                document.getElementById('balance').innerHTML = "Balance: " + balance + "$<br>";
            });
            liquidityRef.on('value', function(data) {
                var liquidity = data.val();
                document.getElementById('liquidity').innerHTML = "Liquidity: " + liquidity + "$";
            });
        </script>
    </body>
</html>